extends ./layout/board.pug
block title
    .jumbotron
        h2= title
            small 게시글 상세보기
block content
    .border.boarder-primary.rounded-p-3
        b= data.title
    .border.boarder-primary.rounded-p-3.my-3= data.content
    .p-3.text-center
        button.btn-primary#btUpdate(data-id=`${data.id}`) 수정    
        button.btn-danger#btDelete(data-id=`${data.id}`) 삭제    
        button.btn-success#btList 리스트    